:root {
    --bodycolor: #4d8b55;
}

body {
    font-family: "Oswald", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sansita Swashed", "cursive";
}

p,
.buttons a {
    font-family: "Oswald", sans-serif;
}

#About,
#Menu {
    background-image: url(../img/leaves_pattern-469e0d34.png);
    background-color: var(--bodycolor);
}